body {
    /* background-color: #FDF6E4; */
    font-family: 'Muli', sans-serif;
    background-color: #874C62;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Nunito', sans-serif;
}


.jumbotron {
  background-color: #FDF6E4;
  color: #874C62;
    font-family: 'Nunito', sans-serif;
    font-weight: 400; /* not working */

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FDF6E4;
    border-color: #FDF6E4;
    /* color: #874C62; */
    color: #874C62;
}

.col-sm-3 {
    margin-top: 10;
}

/* bootstrap stuff */
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #874C62;
    color: #FDF6E4;
    padding: 25px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
  display: inline-block;
}
